<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/main.js" defer></script>
  </head>
  <body>
    <h1>Dashboard By EJS</h1>
    <div id="filter">
      <label for="searchByLang">Filter by language:</label>
      <select id="searchByLang">
        <!-- <option value="all">No Filter</option> -->
        <!-- <option value="javascript">JavaScript</option>
        <option value="python">Python</option>
        <option value="sql">SQL</option>
        <option value="rust">Rust</option> -->
        <!-- add lang dynamically from Snippets -->
      </select>

      <label for="searchByTags">Filter by tags:</label>
      <select id="searchByTags">
        <!-- <option value="all">No Filter</option> -->
        <!-- <option value="async">Async</option>
        <option value="fetch">Fetch</option> -->
        <!-- add tags dynamically from Snippets -->
      </select>
    </div>

    <table id="snippetsTable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Code</th>
          <th>Language</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>
